doctype html
html
  head    
    title Zadmin
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    //script(src="js/jquery-file-upload/vendor/jquery.ui.widget.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/tmpl.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/load-image.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/canvas-to-blob.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.iframe-transport.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload-fp.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload-ui.js",type="text/javascript")
    //script(src="js/jquery.flot.time.js",type="text/javascript")
    
    //old
    link(href="stylesheet/bootstrap.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-responsive.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-modal.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/font-awesome.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-metro.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-responsive.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/default.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/uniform.default.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/DT_bootstrap.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/chosen.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.easy-pie-chart.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-toggle-buttons.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.fileupload-ui.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/login.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/application.css",rel="stylesheet",type="text/css")    
    
    script(src="js/waves.js",type="text/javascript")
    script(src="js/progressbar.min.js",type="text/javascript")
    //script(src="js/modernizr.js")
    script(src="js/dc.js",type="text/javascript")
    script(src="js/jquery-1.8.3.min.js",type="text/javascript")
    script(src="js/jquery-ui-1.10.1.custom.min.js",type="text/javascript")
    script(src="js/bootstrap.min.js",type="text/javascript")
    script(src="js/bootstrap-modal.js",type="text/javascript")
    script(src="js/bootstrap-modalmanager.js",type="text/javascript")
    script(src="js/bootstrap-typeahead.js",type="text/javascript")
    script(src="js/jquery.dataTables.min.js",type="text/javascript")
    script(src="js/breakpoints.js",type="text/javascript")
    script(src="js/jquery.slimscroll.js",type="text/javascript")
    script(src="js/jquery.blockui.js",type="text/javascript")
    script(src="js/jquery.uniform.min.js",type="text/javascript")
    script(src="js/jquery.flot.js",type="text/javascript")
    script(src="js/jquery.flot.pie.js",type="text/javascript")
    script(src="js/jquery.flot.resize.js",type="text/javascript")
    script(src="js/jquery.easy-pie-chart.js",type="text/javascript")
    script(src="js/jquery.validate.min.js",type="text/javascript")
    script(src="js/jquery.backstretch.min.js",type="text/javascript")
    script(src="js/DT_bootstrap.js",type="text/javascript")
    script(src="js/chosen.jquery.min.js",type="text/javascript")
    script(src="js/jquery.toggle.buttons.js",type="text/javascript")
    script(src="js/app.js",type="text/javascript")
    script(src="js/moment.min.js",type="text/javascript")
    script(src="js/socket.io.js",type="text/javascript")
    //script(src="js/socket.io-1.3.7.js",type="text/javascript")
    script(src="js/ipbase.min.js",type="text/javascript")
    script(src="js/iplib.js",type="text/javascript")
    script(src="js/avalon.js",type="text/javascript")
    script(src="js/application.js",type="text/javascript")
    
    //new
    link(href="stylesheet/d3_style.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/simple-line-icons.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.gritter.css",rel="stylesheet",type="text/css")  
    link(href="stylesheet/animate.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-linearicons.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/prettify.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/themify-icons.css",rel="stylesheet",type="text/css")  
    link(href="stylesheet/jquery.nestable.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-tree.css",rel="stylesheet",type="text/css")
    //link(href="stylesheet/custom_checkbox.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/skins/all.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/amchart.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-loading.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/waves.css",rel="stylesheet",type="text/css")
    //link(href="stylesheet/timeline.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/timeline-pro.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/nprogress.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/new_style.css",rel="stylesheet",type="text/css")
    
    script(src="js/d3.min.js",type="text/javascript")
    script(src="js/liquidFillGauge.js",type="text/javascript")
    script(src="js/say-cheese.js",type="text/javascript")
    script(src="js/jquery.gritter.min.js",type="text/javascript")
    script(src="js/jquery.counterup.js",type="text/javascript")
    script(src="js/jquery.waypoints.min.js",type="text/javascript")
    script(src="js/highcharts.js",type="text/javascript")
    script(src="js/highcharts-3d.js",type="text/javascript")
    script(src="js/highcharts-more.js",type="text/javascript")
    script(src="js/solid-gauge.js",type="text/javascript")
    script(src="js/exporting.js",type="text/javascript")
    script(src="js/jquery.sparkline.min.js",type="text/javascript")
    script(src="js/prettify.js",type="text/javascript")
    script(src="js/gauge.js",type="text/javascript")
    //script(src="js/jquery.scrollme.js",type="text/javascript")
    script(src="js/prefixfree.min.js",type="text/javascript")
    script(src="js/form-wizard.js",type="text/javascript")
    script(src="js/bootstrap.wizard.min.js",type="text/javascript")
    script(src="js/jquery.bootstrap.wizard.min.js",type="text/javascript")
    script(src="js/jquery.stamper.js",type="text/javascript")
    script(src="js/icheck.min.js",type="text/javascript")
    script(src="js/custom.min.js",type="text/javascript")
    script(src="js/wow.js",type="text/javascript")
    script(src="js/amcharts.js",type="text/javascript")
    script(src="js/radar.js",type="text/javascript")
    script(src="js/polarScatter.min.js",type="text/javascript")
    script(src="js/serial.js",type="text/javascript")
    script(src="js/pie.js",type="text/javascript")
    script(src="js/export.min.js",type="text/javascript")
    script(src="js/light.js",type="text/javascript")
    script(src="js/modernizr.custom.js",type="text/javascript")
    script(src="js/nprogress.js",type="text/javascript")
    script(src="js/placeholdem.js",type="text/javascript")
    script(src="js/jquery.poshytip.js",type="text/javascript")
    script(src="js/portlet-draggable.js",type="text/javascript")
    script(src="js/tinytip.js",type="text/javascript")
    script(src="js/particles.js",type="text/javascript")
    //script(src="js/triangle.js",type="text/javascript")
    
  body.page-header-fixed(style="background:rgb(54, 65, 80) !important")
    div.header.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner(style="height: 51px;background:rgb(43, 54, 67)")
        div#header.container-fluid
          a.brand(href="javascript:;",style="width: 118px;padding: 15px 0px 0px 0px;margin-left: -35px;")
            img(src="images/logo.png")
          div.menu-toggler.sidebar-toggler
            span
            
    div.page-container.row-fluid(ms-controller="sidebar",data-include-rendered="rendered",style="padding-top: 8px;")
      div.page-sidebar.nav-collapse.collapse(ms-include-src="'html/sidebar.html'")
      //div.page-sidebar.nav-collapse.collapse(ms-include-src="'html/sidebar_common.html'")
      div.page-content(style="background:#364150")
      
    div.page-footer
      div.scroll-to-top.hastiptop(title="回到顶部",style="display: block;",id="back-to-top")
        i.icon-arrow-up
        //img(src="images/back_to_top.png")
